*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

html::-webkit-scrollbar{
  width: 0.4rem;
  background: transparent;
}
html::-webkit-scrollbar-thumb{
  background: rgb(0, 255, 60);
}

body {
  background-color: #000;
  color: #fff;
}

@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
  }
}

::selection{
  background: rgb(0, 255, 60);
  color: #fff;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
img{
  width: 100%;
}
section{
  min-height: 100vh;
  padding: 9rem;
}

/* Home */

.home{
  display: flex;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/image/homepage.jpg);
  background-position: center;
  background-size: cover;
  padding: 9rem 8% 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-content h1{
  font-size: 4rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Arm Hmks";
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.home-content p{
  font-size: 1.45rem;
  font-weight: 600;
}

@media (max-width: 520px) {
  .home-content h1{
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
  }
  .home-content p{
    font-size: 1rem;
  }
}

/* Hamemunqner */
.hamemunqner{
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(/image/hamemunqner\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hamemunqner-container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}
.heading{
  font-size: 4rem;
  color: rgb(0, 255, 60);
  filter: drop-shadow(-2px -1px 2px #fff);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.1em;
}

@media (max-width: 520px) {
  .heading{
    font-size: 3rem;
  }
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  border-radius: 15px;
  cursor: pointer;
}

.card__data .price{
  text-align: right;
}
@media screen and (min-width: 320px) {
  section{
    padding: 1rem;
  }
  .hamemunqner-container {
    margin-inline: 1rem;
  }
}

@media screen and (min-width: 768px) {
  section{
    padding: 3rem;
  }
  .card__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
  }
}

@media screen and (min-width: 1120px) {
  .card__container {
    grid-template-columns: repeat(5, 1fr);
  }
  .card__img {
    width: 200px;
  }
}

/**/

.dzavarexen{
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(/image/background-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 
}


.dzavarexen-container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container2 {
  display: grid;
  row-gap: 3.5rem;
}

.card__article2 {
  position: relative;
  overflow: hidden;
}

.card__img2 {
  border-radius: 15px;
  cursor: pointer;
}

.card__data2 .price{
  text-align: right;
}
@media screen and (min-width: 320px) {
  section{
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  section{
    padding: 3rem;
  }
  .card__container2 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
  }
}

@media screen and (min-width: 1120px) {
  .card__container2 {
    grid-template-columns: repeat(5, 1fr);
  }
  .card__img2 {
    width: 200px;
  }
}


/* About */


.about{
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/image/pngtree-color-pastel-gradient-background-image_351681.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 
}

.about-me{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

@media (max-width:768px){
  #about{
    min-height: 40vh;
  }
}

/* Contact */

.container{
  width: 100%;
  height: 70vh;
  border-radius: 6px;
  padding: 20px 60px 40px 60px;
  margin-top: 10px;
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(0, 255, 60);
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 25px;
  color: rgb(0, 255, 60);
  margin-bottom: 10px;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #fff;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}

.right-side .input-box{
  height: 40px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: rgba(243, 243, 243, 0.938);
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}

.btn{
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: #000;
  border-radius: .6rem;
  cursor: default;
  font-size: 1.6rem;
  color: rgb(0, 255, 60);
  box-shadow: 0 .1rem 1rem rgb(0, 255, 60);
  letter-spacing: .1rem;
  font-weight: 600;
  border: .3rem solid transparent;
  transition: .5s ease;
}

.btn:hover{
  background: transparent;
  color: #fff;
  border-color: rgb(0, 255, 60);
}

@media (max-width: 950px) {
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .container{
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before{
    display: none;
  }
  .container .content .right-side{
    width: 100%;
    margin-left: 0;
  }
}

/* Footer */

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 7%;
  background: #000;
  box-shadow: 0 .1rem 1rem rgb(0, 255, 60);
}

.footer-text p {
  font-size: 1.6rem;
  color: #fff;
}

.footer-iconTop a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: rgb(0, 255, 60);
  border-radius: .6rem;
  border: .3rem solid rgb(0, 255, 60);
  outline: .3rem solid transparent;
  transition: .5s ease;
}

.footer-iconTop a:hover{
  outline-color: #fff;
}

.footer-iconTop a i{
  font-size: 2.5rem;
  color: #fff;
}





